backup/*
EdiZon/editor/scripts/lib/python3.5/__pycache__/*
EdiZon/editor/scripts/lib/python3.5/encodings/__pycache__/*
goldleaf/*
retroarch/content_favorites.lpl
retroarch/content_history.lpl
retroarch/config/*
retroarch/cores/savefiles/*
retroarch/cores/savestates/*
retroarch/playlists/*
switch/Checkpoint/config.json
switch/Checkpoint/saves/*
switch/Goldleaf/title/*
switch/Goldleaf/userdata/*
switch/incognito/*.bin
switch/mercury/cache/*
switch/prod.keys
switch/title.keys
switch/tinfoil/icons.db
